<!DOCTYPE html>
<html>
<head>
    <title>Essential</title>    

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/libs/fontello/css/fontello.css">

    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">
</head>

<body>
    
    <div class="appBody">
        <div class="menuContainer"></div>

        <div class="mainContainer">
            <div class="pageHeader"></div>
            <div class="messageArea">
                <div class="messageCardContainer">
                  <!--   <div class="messageCard" data-messageid="1">
                      <div class="imageIcons">
                        <div class="image bg-color-2">S</div>
                        <i class="tooltip icon icon-star-empty">
                            <i class="tooltiptext">Mark as important</i>
                        </i>
                        <i class="tooltip icon icon-mail">
                            <i class="tooltiptext">Mark as read</i>
                        </i>
                      </div>
                      <div class="textContainer">
                        <div class="senderName">Socrates + 1<span class="date">February 19</span></div>
                        <div class="subject">With regard to our conversation earlier today</div>
                        <div class="preview">With regard to our conversation earlier today</div>
                      </div>
                        <div class="actionConatiner">
                            <i class="tooltip icon icon-trash">
                                <span class="tooltiptext right">Delete Message</span>
                            </i>
                        </div>
                    </div> -->

                </div>





                <div class="messageDetailsContainer">
                   


                </div>
            </div>
        </div>
        
    </div>

	
</body>
<script src="/static/js/common.js"> </script>
<script src="/static/js/MailCard.js"> </script>
<script src="/static/js/MailDetail.js"> </script>
<script src="/static/js/app.js"> </script>
</html>